.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 10% 0 10%;
}

.testing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 10% 0 10%;
}
