.product-card {
    width: 90%;
    margin: 5% 5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.carousel-container {
    width: 40%;
}

.product-img {
    width: 100%;
}

.product-details {
    width: 40%;
}

.price {
    font-size: 2rem;
}

@media screen and (max-width: 800px) {
    .product-card {
        flex-direction: column;
    }

    .carousel-container {
        width: 100%;
    }

    .product-details {
        width: 80%;
    }
}
