.productCard {
    max-width: 80rem;
    margin: 0 auto 10rem;
    margin-bottom: 50%;
}
    .hero {
        display: block;
        width: 100%;
        margin: 2rem auto;
    }
      
    

  

    .addToCart {
        max-width: 20rem;
    }
