.home-container {
    position: relative;
    width: 100%;
}

.home-image {
    width: 50%;
    margin: auto 25%;
}
.home-content-container {
    width: 100%;
    background-color: white;
}

.home-content {
    width: 75%;
    margin: 10% 12.5% 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #043220;
}

.home-tag {
    text-align: center;
    color: #043220;
}

.image-container {
        min-height: 100%;
}

.news-title {
    font-size: 3rem;
    font-family: din-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #043220;
    text-align: center;
}

@media screen and (max-width: 800px) {

    .image-container {
        width: 100%;
        height: 100%;
    }

    .home-content {
        font-size: 1.5rem;
    }

    .home-image {
        width: 90%;
        margin: auto 5%;
    }
}