.phone-header {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position:fixed;
    z-index: 10;
    background-color: #043220;
}

.mountain-icon {
    height: 100%;
}

.title-container {
    margin-right: 9%;
}

.title {
    font-size: 1.8rem;
    white-space: nowrap;
}
