.formRow {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5% auto;
}

.btn {
    background-color: #B7872D;
    width: 50%;
    height: 18%;
    border: none;
    border-radius: 5%/20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}