ul {
    padding: 0;
}

li {
    list-style-type: none;
    text-align: center;
}

.product-info {
    color:#043220;
}

.product {
    width: 30%;
}

.thumb-img {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .product {
        width: 96%;
        margin: 0 2%;
    }

    .add-to-cart {
        width: 60%;
        margin: 0 20%;
    }
}
