.admin-container {
    width: 100%;
    height: 100%;
}

.actions {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}



.add-new-product-container {
    display: flex;
    flex-direction: column;
    background-color: #043220;
}



.add-new-product-form {
    display: flex;
    flex-direction: column;
    
}

.button-container {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}